{{ $opens_len := len (where .Site.RegularPages "Type" "opening") }}
{{ if gt $opens_len 0 }}
<section id="openings" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 section-heading">
                <h1>{{ with .Site.Params.openings.title }}{{ . | markdownify }}{{ end }}</h1>
                {{ with .Site.Params.openings.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
            </div>
            <div class="col-xs-12 col-md-9">
                {{ range first .Site.Params.openings.count (where .Site.RegularPages "Type" "opening") }}
                    {{ if eq .Params.status "Open" }}
                        {{ partial "opening_li_detailed" . }}
                    {{ end }}
                {{ end }}
                {{ if gt $opens_len .Site.Params.openings.count }}
                <p class="view-all">
                    <a href="{{ .Site.BaseURL }}/opening/{{if .Site.Params.uglyURLs}}index.html{{end}}">
                        {{ with .Site.Params.openings.str_all }}{{ . | markdownify }}{{ end }}
                        <i class="fa fa-angle-double-right"></i>
                    </a>
                </p>
                {{ end }}
            </div>
        </div>
    </div>
</section>
{{ end }}
