<section id="overview" class="home-section">
    <div class="container">

        <!-- Section heading -->
        <div class="row" style="display:flex;flex-wrap: wrap;">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1 class="section-heading"> Overview </h1>
            </div>
        </div>

        <!-- Announcement banner -->
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info" role="alert" style="margin-bottom: 20px;">
                    <strong>Announcement:</strong> The STAI group is moving to 
                    <a href="https://gsai.kaist.ac.kr/">KAIST AI</a> 
                    in February 2026.
                </div>
            </div>
        </div>

        <!-- Overview -->
        <p>
          {{ range (where .Site.RegularPages "Type" "overview")}}
              {{ .Content }}
          {{ end }}
        </p>

        <div class="row logos-row">
          <div class="col-xs-4 col-sm-2 affiliate-logos">
            <a href="https://scalabletrustworthyai.github.io/"><img class="affiliate-logos" src="img/stai_logo.png" alt="STAI logo" style="position: relative; top: -15px;"></a>
          </div>
          <div class="col-xs-4 col-sm-2 affiliate-logos">
            <a href="https://gsai.kaist.ac.kr/"><img class="affiliate-logos" src="img/logo_kaist.png" alt="KAIST logo"></a>
          </div>
          <div class="col-xs-4 col-sm-2 affiliate-logos">
            <a href="https://tuebingen.ai/"><img class="affiliate-logos" src="img/tueai_logo_black_text.svg" alt="Tübingen AI logo"></a>
          </div>
          <div class="col-xs-4 col-sm-2 affiliate-logos">
            <a href="https://uni-tuebingen.de/"><img class="affiliate-logos" src="img/logo_uni_tue.svg" alt="Uni Tübingen logo"></a>
          </div>
          <div class="col-xs-4 col-sm-2 affiliate-logos">
            <a href="https://imprs.is.mpg.de/"><img class="affiliate-logos" src="img/imprs_is_logo.png" alt="IMPRS-IS logo"></a>
          </div>
          <div class="col-xs-4 col-sm-2 affiliate-logos">
            <a href="https://ellis.eu/"><img class="affiliate-logos" src="img/ellis_logo.png" alt="ELLIS logo"></a>
          </div>
        </div>
    </div>
</section>
