<section id="overview" class="home-section">
    <div class="container">

        <!-- Section heading -->
        <div class="row" style="display:flex;flex-wrap: wrap;">
            <div class="col-xs-12 col-md-4 section-heading">
                <h1 class="section-heading"> Overview </h1>
            </div>
        </div>

        <!-- Overview -->
        <p>
          {{ range (where .Site.RegularPages "Type" "overview")}}
              {{ .Content }}
          {{ end }}
        </p>

        <div class="row logos-row">
          <div class="col-xs-3 affiliate-logos">
            <a href="https://tuebingen.ai/"><img class="affiliate-logos" src="img/tueai_logo_black_text.svg" alt="logo"></a>
          </div>
          <div class="col-xs-3 affiliate-logos">
            <a href="https://uni-tuebingen.de/"><img class="affiliate-logos" src="img/logo_uni_tue.svg" alt="logo"></a>
          </div>
          <div class="col-xs-3 affiliate-logos">
            <a href="https://imprs.is.mpg.de/"><img class="affiliate-logos" src="img/imprs_is_logo.png" alt="logo"></a>
          </div>
          <div class="col-xs-3 affiliate-logos">
            <a href="https://ellis.eu/"><img class="affiliate-logos" src="img/ellis_logo.png" alt="logo"></a>
          </div>
        </div>
    </div>
</section>
