<div class="course-list-item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="article-title" itemprop="name">
                <a href="{{ .Permalink }}">{{ .Title }} @ {{ .Params.university }}</a>
            </h3>
            <div class="course-date">
                <div itemprop="datePublished">
                    {{ .Params.semester }}
                </div>
            </div>

        </div>
    </div>
</div>
