<div class="col-xs-12 col-sm-3">
    <div id="profile">
        <a href="{{ .Permalink }}">
            <div class="portrait" itemprop="image" style="background-image: url('{{ .Site.BaseURL }}/img/{{ .Params.portrait }}');"></div>
        </a>
        <div class="portrait-title">
            <h2 itemprop="name"><a href="{{ .Permalink }}">{{ .Params.name }}</a></h2>
            {{ range .Params.organizations }}
                <h4>{{ .role }}</h4>
            {{ end }}
            <ul class="social-icon-main-page">
                {{ range .Params.social }}
                <li>
                    <a href="{{ .link }}">
                    {{ if eq .icon_pack "ai" }}
                        <i class="ai ai-{{ .icon }} small-icon" aria-hidden="true"></i>
                    {{ else }}
                        <i class="fa fa-{{ .icon }} small-icon" aria-hidden="true"></i>
                    {{ end }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </div>
</div>
